.login-wrapper {
  width: 100%;
  height: 100vh;

  @include media-breakpoint-up(md) {
    align-items: center;
  }

  .login-block {
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 0 20px -4px #d5d9e0;
    height: 300px;
    max-height: 300px;

    @include media-breakpoint-up(md) {
      width: 350px;
      max-width: 350px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 2rem;
      width: 100%;
      box-shadow: 0 0 20px -4px #d5d9e0;
    }

    .logo {
      margin-bottom: 1rem;

      img {
        width: 40px;
        height: 40px;
        margin-right: 1rem;
      }
    }

    .btn {
      width: 50%;
      border-radius: 0;
      color: $white;
      background-color: $primary;

      &:hover {
        background-color: $primary-darker;
      }

      &:focus {
        outline: none;
        box-shadow:none;
      }
    }
  }
}

