<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="description" content="Stagy is a platform built to automate creation of on-demand QA, Demo and sandbox environments." />
  <meta property="og:title" content="Stagy on-demand environments" />
  <meta property="og:description" content="Deploy on-demand environments easily. Stagy is a platform built to automate creation of on-demand QA, Demo and sandbox environments." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://stagy.dev/" />
  <meta property="og:image" content="https://stagy.dev/static/images/logo.svg" />

  <link rel="stylesheet" href="static/css/main.css">

  <title>Stagy on-demand environments</title>

  <% if Rails.env.production? %>
    <%= render partial: "layouts/google_analytics" %>
  <% end %>
</head>

<body class="popup-opened">
  <% if Rails.env.production? %>
    <%= render partial: "layouts/google_tag_manager" %>
  <% end %>

  <div class="popup" style="">
    <div class="popup_box pshow">
      <div class="popup_inner">
        <img src="../static/images/logo.svg" alt="">
        <p class="text">
          Thank you! We will contact you in a while
        </p>
        <a href="/" class="btn btn-void js-close-wnd">Back</a>
      </div>
    </div>
  </div>
</body>
