<div class="page__inner">

  <section class="section section__error">
         <div class="error error__container">
             <div class="error__content">
                 <div class="error__card">
                         <div class="card-item card-item--error">
                             <div class="card-item__inner">
                                 <div class="card-item__wrapper">
                                     <div class="card-item__top">
                                         <div class="card-item__title">
                                            <header class="page-header">
                                               <h1 class="page-header__title">Thank you!</h1>
                                               <p class="page-header__text">We will contact you in a while</p>
                                           </header>
                                         </div>
                                     </div>

                                     <div class="card-item__bottom">
                                         <div class="card-item__cta-button ">
                                                 <a href="/" class="btn btn--100 btn--yellow ">Awesome</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                 </div>
             </div>
         </div>
  </section>
</div>
