<div class="popup" style="">
  <div class="popup_box pshow">
    <div class="popup_inner">
      <img src="../static/images/logo.svg" alt="">
      <p class="text">
        Thank you! We will contact you in a while
      </p>
      <a href="/" class="btn btn-void js-close-wnd">Back</a>
    </div>
  </div>
</div>
