<main class="page__content">

<section class="section section--mobile-large js-add-container">
    <div class="container  container--small">
        <header class="page-header">
            <h1 class="page-header__title">Frequently Asked Questions</h1>
        </header>
        <div class="faq">
            <div class="faq__wrapper">
                <ul class="faq__accord">
                        <li class="faq-item js-accord">
                            <button class="faq-item__title js-accord__toggle">How to get started</button>
                            <div class="faq-item__body js-accord__body">
                                <div class="faq-item__body-inner">
                                    <p>Click “Get Started” button. After that create new project, setup Stagy on repository. Set settings and start deploying.</p>
                                </div>
                            </div>
                        </li>
                        <li class="faq-item js-accord">
                            <button class="faq-item__title js-accord__toggle">How to get started How to get started How to get started</button>
                            <div class="faq-item__body js-accord__body">
                                <div class="faq-item__body-inner">
                                    <p>Click “Get Started” button. After that create new project, setup Stagy on repository. Set settings and start deploying.</p>
                                </div>
                            </div>
                        </li>
                        <li class="faq-item js-accord">
                            <button class="faq-item__title js-accord__toggle">How to get started</button>
                            <div class="faq-item__body js-accord__body">
                                <div class="faq-item__body-inner">
                                    <p>Click “Get Started” button. After that create new project, setup Stagy on repository. Set settings and start deploying.</p>
                                </div>
                            </div>
                        </li>
                        <li class="faq-item js-accord">
                            <button class="faq-item__title js-accord__toggle">How to get started How to get started</button>
                            <div class="faq-item__body js-accord__body">
                                <div class="faq-item__body-inner">
                                    <p>Click “Get Started” button. After that create new project, setup Stagy on repository. Set settings and start deploying.</p>
                                        <p>Click “Get Started” button. After that create new project, setup Stagy on repository. Set settings and start deploying.</p>
                                </div>
                            </div>
                        </li>
                        <li class="faq-item js-accord">
                            <button class="faq-item__title js-accord__toggle">How to get started How to get started How to get started How to get started How to get started How to get started How to get started</button>
                            <div class="faq-item__body js-accord__body">
                                <div class="faq-item__body-inner">
                                    <p>Click “Get Started” button. After that create new project, setup Stagy on repository. Set settings and start deploying.</p>
                                </div>
                            </div>
                        </li>
                        <li class="faq-item js-accord">
                            <button class="faq-item__title js-accord__toggle">How to get started</button>
                            <div class="faq-item__body js-accord__body">
                                <div class="faq-item__body-inner">
                                    <p>Click “Get Started” button. After that create new project, setup Stagy on repository. Set settings and start deploying.</p>
                                </div>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
    </div>
</section>
</main>
