<main class="page__content">

<section class="section section--mobile-large js-add-container">
    <div class="container  container--small">
        <header class="page-header">
            <h1 class="page-header__title">Frequently Asked Questions</h1>
        </header>
        <div class="faq">
            <div class="faq__wrapper">
                <ul class="faq__accord">
                    <li class="faq-item js-accord opened">
                        <button class="faq-item__title js-accord__toggle">How to get started</button>
                        <div class="faq-item__body js-accord__body">
                            <div class="faq-item__body-inner">
                                <p>Click “Get Started” button. After that create new project, setup Stagy on repository. Set settings and then start deploying.</p>
                            </div>
                        </div>
                    </li>

                    <li class="faq-item js-accord opened">
                        <button class="faq-item__title js-accord__toggle">Do I need to give access to servers for Stagy?</button>
                        <div class="faq-item__body js-accord__body">
                            <div class="faq-item__body-inner">
                                <p>No! Stagy only need access to source code. You don't need to manage servers - Stagy does it for you.</p>
                            </div>
                        </div>
                    </li>

                    <li class="faq-item js-accord opened">
                        <button class="faq-item__title js-accord__toggle">What is a staging server?</button>
                        <div class="faq-item__body js-accord__body">
                            <div class="faq-item__body-inner">
                                <p>The staging server is "as close as possible" copy of the web application production server. It can be used in various situations where owners or users need to do something on production, that should be performed on production. For example to let users or clients to "play" with an application before actual usage. Or test code change before production deployment.</p>
                            </div>
                        </div>
                    </li>

                    <li class="faq-item js-accord opened">
                        <button class="faq-item__title js-accord__toggle">Do I need a QA environment?</button>
                        <div class="faq-item__body js-accord__body">
                            <div class="faq-item__body-inner">
                                <p>It depends! Any software product needs testing. Testing on a staging server is a nice way to ensure that your application works the way you want it. And Stagy is here to help make this process way easier!</p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
</main>
