
<main class="page__content">

<section class="section section--tablet-s js-hero-section">
    <div class="hero">
        <div class="hero__bg">
              <picture>
                  
                    <source media="(max-width: 767px)" data-srcset="static/images/landing/main/bg/bg-mobile.webp, static/images/landing/main/bg/bg-mobile@2x.webp 2x" type="image/webp">
                  <source media="(max-width: 767px)" data-srcset="static/images/landing/main/bg/bg-mobile.png, static/images/landing/main/bg/bg-mobile@2x.png 2x" type="image/png">
                  
                    <source media="(max-width: 1279px)" data-srcset="static/images/landing/main/bg/bg-smallTablet.webp, static/images/landing/main/bg/bg-smallTablet@2x.webp 2x" type="image/webp">
                  <source media="(max-width: 1279px)" data-srcset="static/images/landing/main/bg/bg-smallTablet.png, static/images/landing/main/bg/bg-smallTablet@2x.png 2x" type="image/png">
                
                  <source data-srcset="static/images/landing/main/bg/bg.webp, static/images/landing/main/bg/bg@2x.webp 2x" type="image/webp">
                <source data-srcset="static/images/landing/main/bg/bg.png, static/images/landing/main/bg/bg@2x.png 2x" type="image/png">
                <img class="lazy" data-sizes="auto" data-original="static/images/landing/main/bg/bg.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
              </picture>
        </div>
        <div class="hero__inner container">
            <div class="hero__content">
                <h1 class="hero__title">Stagings <br>
                    made simple</h1>
                <p class="text hero__text">Create unlimitied on-demand environments for Your Demos, QA and Sandboxes </p>
                <form action="/landings" method="GET" class="email-field ">
                  <div class="hero__form-field">
                        <div class="form-field">
                          <input type="email" name="email" class="form-field__input " placeholder="Enter your email" required />
                        </div>
                      <div class="form-field__input-btn">
                        <button type="submit" class="btn btn--small">Submit</button>
                      </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</section><section class="section js-how-it-works section--how-it-works">
    <div class="how-it-works__inner">
        <div class="container">
            <div class="info">
                <div class="info__wrapper">
                    <div class="info__title">How it works</div>
                    <div class="info__text">Stagy.dev does all the hard and important work of delivering files from your
                        repositories
                        to your server. No magic. Easy to do in 3 steps.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><section class="section">
    <div class="container">
        <div class="animate js-slideshow">
            <div class="animate__wrapper">
                <div class="animate__left">
                    <div class="animate__scene js-slideshow__scene">
                        <div class="animate__slide js-slideshow__slide">
                          <div id="onButtonClick"></div>
<!--                             <video src="static/video/stagy-p1.mp4" muted autoplay loop type="video/mp4">
                            </video>
 -->
                        </div>
                        <div class="animate__slide js-slideshow__slide">
                            <div id="stagyDoingWork"></div>
                        </div>
                        <div class="animate__slide js-slideshow__slide">
                            <div id="useYourApp"></div>
                        </div>
                    </div>
                </div>
                <div class="animate__right">
                    <div class="tab">
                        <div class="tab__wrapper">
                            <div class="tab-item js-slideshow__tab">
                                <div class="tab-item__content">
                                    <span class="tab-item__title">Click the button</span>
                                    <div class="tab-item__body">
                                        <div class="tab-item__body-inner">
                                            <p>We empower consumer messaging with qualities of enterprise communication
                                                platform. Just
                                                click the button and nothing more.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-item__image">
                                    <div id="onButtonClickMobile"></div>
                                </div>
                            </div>
                            <div class="tab-item js-slideshow__tab">
                                <div class="tab-item__content">
                                    <span class="tab-item__title">Stagy doing work...</span>
                                    <div class="tab-item__body">
                                        <div class="tab-item__body-inner">
                                            <p>Click “Get Started” button. After that create new project, setup Stagy on
                                                repository. Set
                                                settings and start deploying.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-item__image">
                                    <div id="stagyDoingWorkMobile"></div>
                                </div>
                            </div>
                            <div class="tab-item js-slideshow__tab">
                                <div class="tab-item__content">
                                    <span class="tab-item__title">Use your app!</span>
                                    <div class="tab-item__body">
                                        <div class="tab-item__body-inner">
                                            <p>Click “Get Started” button. After that create new project, setup Stagy on
                                                repository. Set
                                                settings and start deploying.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-item__image">
                                    <div id="useYourAppMobile"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><section class="section section--dark">
    <div class="container">
        <div class="save">
            <div class="save__content">
                <div class="save__wrapper">
                    <div class="save__left">
                        <h2 class="save__title">Save your costs</h2>
                        <p class="save__text">Say no to spending money on idle servers for staging! Stagy sets on pause
                            servers that not in use
                        </p>
                        <div class="save__cta-btn">
                                <a href="#form" class="btn btn--normal btn--yellow js-scroll-to">Get Started</a>
                        </div>
                    </div>
                    <div class="save__right">
                        <div class="save__content-right">
                            <div class="save__content-image">
                                <div class="save__content-desktop">
                                    <div class="save__content-background js-coin">
                                        <div class="save__content-coin js-coin__image">
                                              <picture>
                                            
                                            
                                                <source data-srcset="static/images/landing/main/coin.png, static/images/landing/main/coin@2x.png 2x" type="image/png">
                                                <img class="lazy" data-sizes="auto" data-original="static/images/landing/main/coin.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
                                              </picture>
                                        </div>
                                    </div>
                                </div>
                                <div class="save__content-mobile">
                                      <picture>
                                    
                                    
                                        <source data-srcset="static/images/landing/main/staging/save.png, static/images/landing/main/staging/save@2x.png 2x" type="image/png">
                                        <img class="lazy" data-sizes="auto" data-original="static/images/landing/main/staging/save.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
                                      </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><section class="section">
    <div class="container">
        <div class="target">
            <h2 class="target__section-title">Who is this product for?</h2>
            <ul class="target-list ">
                    <li class="target-list__row ">
                        <div class="target-list__cell-left">
                            <h3 class="target-list__title">Product <br>Managers</h3>
                                <div class="target-list__link">
                                    <a href="/roles/for-managers" class="target-list__link-item">Learn more  <span class="target-list__icon-next"><i></i></span>
                                    </a>
                                </div>
                        </div>
                        <div class="target-list__cell-right">
                            <p class="target-list__text">Control your team progress – review changes of any pull request with no need for asking for deployment. Perfom fully function product or feature demos without using a production server</p>
                        </div>
                    </li>
                    <li class="target-list__row target-list__row--reverse">
                        <div class="target-list__cell-left">
                            <h3 class="title  title--big target-list__title">Quality <br>Assurance</h3>
                                <div class="target-list__link">
                                    <a href="/roles/for-qa" class="target-list__link-item">Learn more  <span class="target-list__icon-next"><i></i></span>
                                    </a>
                                </div>
                        </div>
                        <div class="target-list__cell-right">
                            <p class="target-list__text">Create stagings for feature testing with one click. No need to ask a developer to deploy feature – stagy can create clean staging for every code change.</p>
                        </div>
                    </li>
                    <li class="target-list__row ">
                        <div class="target-list__cell-left">
                            <h3 class="target-list__title">Sales <br> Managers</h3>
                                <div class="target-list__link">
                                    <a href="/roles/for-sales" class="target-list__link-item">Learn more  <span class="target-list__icon-next"><i></i></span>
                                    </a>
                                </div>
                        </div>
                        <div class="target-list__cell-right">
                            <p class="target-list__text">Make live product demos for customers with no special technical knowledge. <br>Demonstrate every best feature piece of your product with one click</p>
                        </div>
                    </li>
                    <li class="target-list__row target-list__row--reverse">
                        <div class="target-list__cell-left">
                            <h3 class="title  title--big target-list__title">Developers</h3>
                                <div class="target-list__link">
                                    <a href="/roles/for-developers" class="target-list__link-item">Learn more  <span class="target-list__icon-next"><i></i></span>
                                    </a>
                                </div>
                        </div>
                        <div class="target-list__cell-right">
                            <p class="target-list__text">Save time letting any team member create staging without your involvement . <br>Enjoy automatic infrastructure management and deployment. Focus on product development, don’t waste your time on servers</p>
                        </div>
                    </li>
            </ul>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="staging">
            <div class="staging__inner">
                <div class="staging__wrapper">
                    <div class="staging__left">
                        <div class="staging__left-top">
                            <span class="staging__title">Stagings made simple</span>
                            <p class="staging__text">Create unlimitied on-demand environments for Your Demos, QA and Sandboxes
                            </p>
                        </div>
                        <div class="staging__left-bottom">
                                <a href="#" class="btn btn--normal ">Get Started</a>
                        </div>

                    </div>
                    <div class="staging__right">
                        <div class="staging__right-wrapper">
                              <picture>
                            
                            
                                <source data-srcset="static/images/landing/main/staging/staging.png, static/images/landing/main/staging/staging@2x.png 2x" type="image/png">
                                <img class="lazy" data-sizes="auto" data-original="static/images/landing/main/staging/staging.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
                              </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</main>
