<main class="page__content">

<section class="section section--mobile-large">
    <div class="container">
        <header class="page-header">
            <h1 class="page-header__title">Pricing</h1>
            <p class="page-header__text">Choose a plan convenient for you plan and get full access to all functions and features.</p>
        </header>
        <div class="pricing">
            <div class="pricing__row">
                <div class="pricing__cell">
                        <div class="card-item">
                            <div class="card-item__inner">
                                <div class="card-item__wrapper card-pricing">
                                    <div class="card-item__top">
                                        <div class="card-item__title">Basic</div>
                                        <div class="card-item__label">Most popular</div>
                                        <div class="card-item__subtitle">Perfect for small companies</div>
                                    </div>
                                    <div class="card-item__center">
                                        <span class="card-item__price">$0.03</span>
                                        <span class="card-item__special">/hourly per process</span>
                                        <ul class="card-item__content">
                                            <li class="card-item__offer"><b>1 vCPU, 1 GB</b> memory for one running process
                                            </li>
                                            <li class="card-item__offer"> $0.045/hour for build on <b>2 vCPU, 4 GB</b> machine
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-item__bottom">
                                        <div class="card-item__cta-button">
                                                <a href="#form" class="btn btn--100 btn--yellow js-scroll-to">Get Started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="pricing__cell">
                        <div class="card-item card-item--blue">
                            <div class="card-item__inner">
                                <div class="card-item__wrapper card-pricing">
                                    <div class="card-item__top">
                                        <div class="card-item__title">Personal</div>
                                        <div class="card-item__subtitle">Perfect for personal use</div>
                                    </div>
                                    <div class="card-item__center">
                                        <span class="card-item__price">Custom</span>
                                        <span class="card-item__special">/Individual plan</span>
                                        <p class="card-item__content">
                                            If you need a custom server and build configuration, feel free to contact us
                                            and get a special quote!
                                        </p>
                                    </div>
                                    <div class="card-item__bottom">
                                        <div class="card-item__cta-button ">
                                                <a href="#" class="btn btn--100 btn--white ">Contact us</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
