<main class="page__content">

<section class="section   section--mobile-large">
    <div class="container">
            <header class="page-header">
                <h1 class="page-header__title">Stagy for <strong>quality assurance</strong></h1>
                <p class="page-header__text">Single-click staging for feature testing</p>
            </header>
    </div>
</section><div class="section">
    <div class="container">
        <div class="feature">
            <div class="feature__content">
                <div class="feature__image">
                    <div class="feature__image-wrapper">
                        <video src="static/video/main.mp4" muted autoplay loop>
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><section class="section">
    <div class="container">
        <div class="target">
            <h2 class="target__section-title">How does it help <br>quality assurance?</h2>
            <ul class="target-list  target-list--small-margin ">
                    <li class="target-list__row ">
                        <div class="target-list__cell-left">
                            <h3 class="target-list__title">Easy Creation</h3>
                        </div>
                        <div class="target-list__cell-right">
                            <p class="target-list__text">To create a new application instance all you need is to click a button. Stagy will spin up a new server, deploy code, and give you a link to a new freshly created instance</p>
                        </div>
                    </li>
                    <li class="target-list__row target-list__row--reverse">
                        <div class="target-list__cell-left">
                            <h3 class="title  title--big target-list__title">Test any change</h3>
                        </div>
                        <div class="target-list__cell-right">
                            <p class="target-list__text">You can create any amount of staging for any branch to check all possible variation and behavior change</p>
                        </div>
                    </li>
                    <li class="target-list__row ">
                        <div class="target-list__cell-left">
                            <h3 class="target-list__title">No developer needed</h3>
                        </div>
                        <div class="target-list__cell-right">
                            <p class="target-list__text">Ask dev team to deploy, wait until staging isn’t busy, populate needed data... Sounds familiar? With Stagy you control how and when to deploy code change for a test.</p>
                        </div>
                    </li>
                    <li class="target-list__row target-list__row--reverse">
                        <div class="target-list__cell-left">
                            <h3 class="title  title--big target-list__title">You Rock!</h3>
                        </div>
                        <div class="target-list__cell-right">
                            <p class="target-list__text">You are doing awesome work and we are here to help you make it easier </p>
                        </div>
                    </li>
            </ul>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="staging">
            <div class="staging__inner">
                <div class="staging__wrapper">
                    <div class="staging__left">
                        <div class="staging__left-top">
                            <span class="staging__title">Stagings made simple</span>
                            <p class="staging__text">Create unlimited on-demand environments for Your Demos, QA and Sandboxes
                            </p>
                        </div>
                        <div class="staging__left-bottom">
                                <a href="#" class="btn btn--normal ">Get Started</a>
                        </div>

                    </div>
                    <div class="staging__right">
                        <div class="staging__right-wrapper">
                              <picture>
                            
                            
                                <source data-srcset="static/images/landing/main/staging/staging.png,
                                          static/images/landing/main/staging/staging@2x.png 2x" type="image/png">
                                <img class="lazy" data-sizes="auto" data-original="static/images/landing/main/staging/staging.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt>
                              </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
