nav {
  .navbar-brand {
    height: 40px;

    img {
      height: 100%;
      width: auto;
    }
  }

  a.dropdown-toggle {
    color: $white;
  }

  .dropdown-menu {
    right: 0;
    left: auto;
  }

}
