.breadcrumb {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  background: none;

  .path-item {
    position: relative;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $primary;
    }

    &.active {
      color: $primary;
    }

    & + .path-item {
      margin-left: 2rem;

      &:before {
        content: ">";
        position: absolute;
        left: -1rem;
        transform: translateX(-50%);
        color: $primary;
      }
    }
  }
}
