$primary: #435FE4;
$link: #435FE4;
$link-hover: #354BB6;
$link-active: #354BB6;
// $info: $cyan
// $success: $green
// $warning: $yellow
// $danger: $red
// $dark: $grey-darker
$text: #666A73;
$text-strong: #121726;


// 435FE4
// FFE068

// D4D5D9
// 666A73
// 121726


$black: #121726;
// $black-bis: ;
// $black-ter: ;
// $grey-darker: ;
// $grey-dark: ;
$grey: #666A73;
$grey-light: #D4D5D9;
// $grey-lighter: ;
// $grey-lightest: ;
// $white-ter: ;
// $white-bis: ;
// $white: ;


$family-primary: Inter,sans-serif;
$family-secondary: Sora,sans-serif;


$body-background-color: #FCFCFC;
$table-cell-padding: 1em 1.25em;
@import "~bulma/bulma.sass";






.table-list-primary { 
  border: none;

  thead {
    tr {
      th {
        background-color: #FFE068;
        border: none;
      }
    }
  }

  tbody {
    tr {
      td {
        border: none;
      }
    }
  }
}

.main-content {
  margin-left: 290px;
  padding: 0;
  top: 0;
}

.project-selector {
  padding: 1rem 1rem;
  min-height: 5.25rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(212, 213, 217, 0.2);
  }

  .title {
    color: white;
  }

  .heading {
    color: #666A73;
    font-weight: bold;
  }

  img {
    border-radius: 50%;
  }

  .arrow {
    border: 3px solid #666A73;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.625em;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.625em;
  }
}

.projects-list {
  display: none;
  position: absolute;
  padding: 1rem;
  width: 300px;
  max-height: 500px;
  background-color: white;
  box-shadow: 8px 8px #435FE4;

  .projects-list-link {
    display: flex;
    align-items: center;

    img {
      margin-right: 0.5rem;
    }
  }
}

.projects-list.is-active {
  display: block;
}

.project-selector-separator {
  margin: 0px 8px;
  background-color: #666A73;
  height: 1px;
}

.project-navigation {
  width: 290px;
  background-color: $black;
  position: fixed;
  height: 100%;

  .menu {
    .menu-label {
      color: #666A73;
      font-weight: bold;
    }

    .menu-list a {
      color: #D4D5D9;
      font-weight: bold;

      &.is-active {
        color: white;

        &:hover {
          background-color: #435FE4;
        }
      }

      &:hover {
        background-color: rgba(212, 213, 217, 0.2);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main-content {
    margin-left: 0px;
  }

  .project-navigation {
    position: relative;
    width: 100%;
  }

  .projects-list {
    width: 100%;
  }
}
